
/* nav section */

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 50px;
}
/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}


.nav-title{
    color: #000000;

font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.text-primary{
    color: #FD6E0A;
}

nav  > ul{
    display:flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;
}

.btn-primary{
    border-radius: 5px;
    border:0;
    background: #FD6E0A;
    color:  #FFF;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}

.header{
    background: #FFF8F3;
}

.banner{
    padding:10px 10px 10px 150px;
     display: flex; 

}
.banner .profile-picture{
    width: 500px;
    align-items: center;
}